/**
 * University of Manchester theme for reveal.js
 *
 * Dean Wilson
 * dean.wilson@manchester.ac.uk
 */
@import url(../../lib/font/open-sans/open-sans.css);
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: #333; }

::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #333;
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.8em; }

.reveal h2 {
  font-size: 1.4em; }

.reveal h3 {
  font-size: 1.2em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #42affa;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068de9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #42affa; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #42affa; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }

.reveal section img {
  border: none;
  box-shadow: none;
  margin: 0; }

section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }

section.interstital-slide h1 {
  margin-top: 10%; }

section.interstital-slide h2 {
  text-align: center;
  margin-top: 2em;
  color: #666; }

section h1 {
  text-align: center; }

.uom-logo {
  position: fixed;
  height: 13%;
  top: 0;
  left: 0;
  display: block;
  background: none !important;
  border: none !important; }

.reveal .slides {
  text-align: left; }

.dots {
  border: none; }

.theme-colour .dots {
  border-top: 0.15em dotted #fff; }

.theme-white .dots {
  border-top: 0.15em dotted #333; }

section.title-slide.theme-colour h1, section.title-slide.theme-colour h2, section.title-slide.theme-colour h3, section.title-slide.theme-colour h4 {
  color: #fff; }

section.title-slide h1 {
  text-align: left;
  font-size: 2em;
  margin-top: 3em; }

section.title-slide h2 {
  font-size: 1.6em; }

section.title-slide h3 {
  font-size: 1em; }

section .center {
  text-align: center; }

section .boxed-red {
  display: inline-block;
  border: 2px solid red;
  border-radius: 5px;
  padding: 0.2em; }

section .boxed-green {
  display: inline-block;
  border: 2px solid green;
  border-radius: 5px;
  padding: 0.2em; }

.reveal section ul li {
  margin-bottom: 0.5em; }

section .float-right {
  float: right; }

section .h-50 {
  height: calc((1080px - 1.8em - 20px) * 0.5); }

section .h-75 {
  height: calc((1080px - 1.8em - 20px) * 0.75); }

section .h-100 {
  height: calc((1080px - 1.8em - 20px)); }

.reveal section img.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

table.simulation thead tr:last-child {
  border-bottom: 0.1em solid #333; }

table.simulation tbody td {
  border: 0.1em solid #fff;
  background-color: #dadada; }

table.simulation tbody td.resolved {
  background-color: #005f00; }

table.simulation tbody td.running {
  background-color: #00ff00; }

table.simulation tbody td.holding {
  background-color: #878700; }

table.simulation tbody td.queuing {
  background-color: #d7af00; }

table.simulation tbody td.na {
  background-color: #111; }

svg > rect {
  stroke-width: 0; }

html.title-slide.theme-colour body {
  background: #4A0B64;
  background: -moz-radial-gradient(center, circle cover, #934EB7 0%, #4A0B64 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #934EB7), color-stop(100%, #4A0B64));
  background: -webkit-radial-gradient(center, circle cover, #934EB7 0%, #4A0B64 100%);
  background: -o-radial-gradient(center, circle cover, #934EB7 0%, #4A0B64 100%);
  background: -ms-radial-gradient(center, circle cover, #934EB7 0%, #4A0B64 100%);
  background: radial-gradient(center, circle cover, #934EB7 0%, #4A0B64 100%);
  background-color: #660099; }
