@font-face {
  font-family: 'Open Sans';
  src: url('open-sans-v15-latin-300.eot');
  src: url('open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'),
       url('open-sans-v15-latin-300.woff') format('woff'),
       url('open-sans-v15-latin-300.woff2') format('woff2'),
       url('open-sans-v15-latin-300.svg') format('svg'),
       url('open-sans-v15-latin-300.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Open Sans';
  src: url('open-sans-v15-latin-regular.eot');
  src: url('open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('open-sans-v15-latin-regular.woff') format('woff'),
       url('open-sans-v15-latin-regular.woff2') format('woff2'),
       url('open-sans-v15-latin-regular.svg') format('svg'),
       url('open-sans-v15-latin-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  src: url('open-sans-v15-latin-600.eot');
  src: url('open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'),
       url('open-sans-v15-latin-600.woff') format('woff'),
       url('open-sans-v15-latin-600.woff2') format('woff2'),
       url('open-sans-v15-latin-600.svg') format('svg'),
       url('open-sans-v15-latin-600.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}