/**
 * University of Manchester theme for reveal.js
 *
 * Dean Wilson
 * dean.wilson@manchester.ac.uk
 */

// University of Manchester theme 
// See http://www.brand.manchester.ac.uk/visual-identity/

$purple: #660099;
$yellow: #FFCC33;
$grey: #999999;
$purpleTints: #751AA3, #8434AD, #934EB7, #A268C1, #B182CB, #C09CD5, #CFB6DF, #DED0E9, #EDEAF3;

//


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/open-sans/open-sans.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #333;
$headingColor: #333;

$mainFontSize: 42px;
$mainFont: 'Open Sans', Helvetica, sans-serif;
$headingFont: 'Arial', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 1.8em;
$heading2Size: 1.4em;
$heading3Size: 1.2em;
$heading4Size: 1.0em;

$titleSize: 2.0em;
$subTitleSize: 1.6em;
$authorSize: 1em;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal section img {
	border: none;
	box-shadow: none;
	margin: 0;
}


section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

section.interstital-slide h1 {
	margin-top: 10%;
}
section.interstital-slide h2 {
	text-align: center;
	margin-top: 2em;
	color:#666;
}

section h1 {
	text-align: center;
}

// logo
.uom-logo {
	position: fixed;
	height: 13%;
	top: 0;
  	left: 0;
	display: block;
	background: none !important;
	border: none !important;
}
.reveal .slides {
	text-align: left;
}
.dots {
	border: none;
}
.theme-colour .dots {
	border-top: 0.15em dotted #fff;
}
.theme-white .dots {
	border-top: 0.15em dotted #333;
}
// -- TITLE SLIDE
section.title-slide.theme-colour {
	& h1, h2, h3, h4 {
		color: #fff;
	}
}
section.title-slide h1 {
	text-align: left;
	font-size: $titleSize;
	margin-top: 3em;
}
section.title-slide h2 {
	font-size: $subTitleSize;
}
section.title-slide h3 {
	font-size: $authorSize;
}
// convinience
section .center {
	text-align: center;
}
section .boxed-red {
	display: inline-block;
	border: 2px solid red;
	border-radius: 5px;
	padding: 0.2em;
}
section .boxed-green {
	display: inline-block;
	border: 2px solid green;
	border-radius: 5px;
	padding: 0.2em;
}
.reveal section ul li {
	margin-bottom: 0.5em;
}
section .float-right {
	float: right;
}
section .h-50 {
	height: calc((1080px - 1.8em - 20px) * 0.5);
}
section .h-75 {
	height: calc((1080px - 1.8em - 20px) * 0.75);
}
section .h-100 {
	height: calc((1080px - 1.8em - 20px));
}

// images
.reveal section img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// simulation tables
table.simulation thead tr:last-child {
	border-bottom: 0.1em solid #333;
}
table.simulation tbody td {
	border: 0.1em solid #fff;
	background-color: rgb(218, 218, 218);
}
table.simulation tbody td.resolved {
	background-color: #005f00;
}
table.simulation tbody td.running {
	background-color: #00ff00;
}
table.simulation tbody td.holding {
	background-color: #878700;
}
table.simulation tbody td.queuing {
	background-color: #d7af00;
}
table.simulation tbody td.na {
	background-color: #111;
}


// svg objects
svg > rect {
	stroke-width: 0;
}
object.gnuplot svg > rect {
}





html.title-slide.theme-colour body {
  	background: #4A0B64;
  	background: -moz-radial-gradient(center, circle cover, #934EB7 0%, #4A0B64 100%);
  	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #934EB7), color-stop(100%, #4A0B64));
  	background: -webkit-radial-gradient(center, circle cover, #934EB7 0%, #4A0B64 100%);
  	background: -o-radial-gradient(center, circle cover, #934EB7 0%, #4A0B64 100%);
  	background: -ms-radial-gradient(center, circle cover, #934EB7 0%, #4A0B64 100%);
  	background: radial-gradient(center, circle cover, #934EB7 0%, #4A0B64 100%);
	background-color: #660099; 
}

// Background generator
//@mixin bodyBackground() {
//	@include radial-gradient(#4A0B64,nth($purpleTints, 3));
//}
